.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

td a {
  display: block;
}

.Menu {
  min-width: 20%;
}

.Entry-Directories {
  width: 20%;
}

.Entry-Form {
  width: 80%;
}

.Inline-Button {
  cursor: pointer;
  border: none !important;
}

.Menu-Item:hover {
  text-decoration: none;
}

.Bg-Black {
  background-color: black;
}

.Text-Black {
  color: black;
}

.Bg-Bone {
  background-color: #FFFFFF;
}

.Text-Bone {
  color: #FFFFFF;
}

.Skull-Image {
  position: fixed;
  padding:5px;
  bottom:0;
  right: 0;
}

.Left-Aligned-Content {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}

.Spaced-Paragraph {
    padding-top: 20px;
}

.Force-Page-Height {
    height: 100vh;
}

.Overflow-Container {
    overflow: auto;
}

.form-control::-webkit-input-placeholder { color: white; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: white; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: white; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: white; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: white; }  /* Microsoft Edge */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
